{% extends 'base.html.twig' %}

{% block body %}
    <h1>Favoris list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favori in favoris %}
            <tr>
                <td><a href="{{ path('favoris_show', { 'id': favori.id }) }}">{{ favori.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('favoris_show', { 'id': favori.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('favoris_edit', { 'id': favori.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('favoris_new') }}">Create a new favori</a>
        </li>
    </ul>
{% endblock %}
