{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ratingevents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ratingEvent in ratingEvents %}
            <tr>
                <td><a href="{{ path('ratingevent_show', { 'id': ratingEvent.id }) }}">{{ ratingEvent.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ratingevent_show', { 'id': ratingEvent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ratingevent_edit', { 'id': ratingEvent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ratingevent_new') }}">Create a new ratingEvent</a>
        </li>
    </ul>
{% endblock %}
